{% extends 'base.html'%}
{% block content %}

    <!--Section: Contact v.2-->
<section class="mb-4">
    <div class="container card justify-content-center" style="margin:50px auto; background-color: rgb(81, 170, 73); width:30%;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. <br> Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="POST">

                <!--Grid row-->
                <div class="row" style="margin-top:15px;">

                    <!--Grid column-->
                    <div class="col-md-12 justify-content-center">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name Ex: Joh Doe">
                        </div>
                    </div>
                </div>
                    <!--Grid column-->
                <div class="row" style="margin-top:15px;">
                    <!--Grid column-->
                    <div class="col-md-12 justify-content-center">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="abc@mail.com">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-12 justify-content-center">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Your subject">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row" style="margin-top:15px;">

                    <!--Grid column-->
                    <div class="col-md-12 justify-content-center">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="row" style="margin-top:15px; margin-bottom:20px;">
                    <div class="text-center text-md-left">
                        <a class="btn btn-danger btn-lg" onclick="document.getElementById('contact-form').submit();">Send</a>
                    </div>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->
    </div>
    </div>
</section>
<!--Section: Contact v.2-->

{% endblock content %}